.DS_Store
*.swp
slurm-*.out

.snakemake
data
results
logs

genome/*.amb
genome/*.ann
genome/*.bwt
genome/*.pac
genome/*.sa
genome/*.fa.gz
genome/Homo_sapiens.GRCh38.*
genome/biotype_lists/
genome/biotype_category_lists/
